.products_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.product_card {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px gray solid;
    background: rgba(0, 0, 0, 0.332);
    border-radius: 5px;
    text-align: center;
}

.product_card:hover {
    border: 1px white solid;
    background: rgba(146, 0, 0, 0.43);
    border-radius: 0px;
}

.product_card>img {
    width: 100%;
}

.product_card>h4,
.product_card>h5 {
    text-align: center;
    margin: 3px;
}

.button {
    text-decoration: none;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 4px;
    text-align: center;
    color: white;
    border: 1px gray solid;
}

.button:hover {
    border: 1px white solid;
}

.buttons {
    margin-top: 10px;
}


.detail {
    background: rgba(0, 15, 146, 0.43);
}

.detail:hover {
    background: rgba(0, 15, 146, 0.925);
}

.buy {
    background: rgba(2, 88, 6, 0.43);
}

.buy:hover {
    background: rgba(2, 88, 6, 0.925);
}

.cancel {
    background: rgba(88, 2, 2, 0.43);
}

.cancel:hover {
    background: rgba(88, 2, 2, 0.925);
}

.disable {
    background: rgba(54, 54, 54, 0.43) !important;
}

.disable:hover {
    background: rgba(54, 54, 54, 0.43) !important;
    border: 1px gray solid !important;
    cursor: not-allowed;
}

.details {
    flex: 2;
    margin: 20px;
}

.cart_box {
    z-index: 10;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20vw;
    height: auto;
    display: none;
    flex-direction: column;
    border: 1px gray solid;
    background-color: rgba(0, 0, 0, 0.781);
    padding: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cart_item {
    display: flex;
    justify-content: space-between;
}

.payment_detail {
    display: flex;
    justify-content: end;
    align-items: center;
}

.badge {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 12px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px; 
  }