* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background: rgba(0, 0, 0, 0.332);
    backdrop-filter: blur(10px);
    padding: 10px;
}

nav>a {
    text-decoration: none;
    margin: 10px;
    color: grey;
    cursor: pointer;
}

nav>a:hover {
    color: white;
}
.nav-links {
    margin: 5px;
    padding: 5px;
    display: flex;
}

.nav-links>a {
    text-decoration: none;
    margin: 10px;
    color: grey;
    cursor: pointer;
}

.nav-links>a:hover {
    color: white;
}

.nav-profile {
    margin: 10px;
    color: grey;
    cursor: pointer;
}

.nav-profile:hover {
    color: white;
}

.nav-profile:hover .logout {
    transition: opacity 3s ease-in-out;
    display: block;
}

h3 {
    margin: 20px 0 5px 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgba(0, 0, 0, 0.332);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}


body {
    background-image: url('/assets/images/images.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(0.6);
}

.controlBanner>img{
    position: fixed;
    width: calc((100vw - 960px)/2 - 10px);
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
}